@font-face {
    font-family: 'Cascadia Code';
    font-style: normal;
    font-weight: 100 900;
    src: url(/fonts/cascadia-code/CascadiaCode.ttf) format('truetype');
}

@font-face {
    font-family: 'Cascadia Code';
    font-style: italic;
    font-weight: 100 900;
    src: url(/fonts/cascadia-code/CascadiaCodeItalic.ttf) format('truetype');
}