@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/material-symbols/material-symbols-rounded.woff2') format('woff2');
}

.symbol {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;

    /* Variable settings */
    --filled: 1;
    font-variation-settings: 'FILL' var(--filled);
}

.symbol.filled {
    --filled: 1;
}

.symbol.outlined {
    --filled: 0;
}